<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>regist</title>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="./stylesheet/login.css"> -->
    <!-- <link rel="stylesheet" href="./libs/css/bootstrap.min.css"> -->
    <style>
        body,header,p,section,div {
            margin: 0;
            padding: 0;
            font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        }

        body {
            height: 100vh;
        }

        header {
            height: 30vh;
        }
        section {
            height: 60vh;
            font-size: 1rem;
        }
        footer {
            height: 10vh;
        }

        input {
            width: 60vw;
            height: 2rem;
        }

        .flex-config {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .css-title {
            text-align: center;
            font-size: 2rem;
        }
        .css-hidden {
            display: none;
        }
        .css-alert {
            color: red;
        }
        .css-title-l2 {
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }

        section input {
            margin-bottom: 2rem;
            padding: .5rem;
            border-color: #aaa;
            border-width: 1px;
        }

        button {
            width: 60vw;
            /* height: 2rem; */
            padding: .5rem;
            border-width: 1px;
            background-color: aquamarine;
        }
    </style>
</head>
<body class="flex-config">
    <header class="flex-config">
        <!-- <img src="/imgs/logo.png" alt=""> -->
        <div>
            <p class="css-title">2022 闪马秋冬季</p>
            <p class="css-title">产品发布会</p>
        </div>
    </header>
    <section class="flex-config">
        <div>
            <p class="css-title-l2">惊不惊喜，意不意外</p>
            <p class="css-title-l2">这里啥都没有，哇咔咔！！！</p>
        </div>
    </section>
    <footer class="flex-config"></footer>
    
    <script>

    </script>
</body>
</html>